<div class="container">
  <div id="shoutbox">
    {{#if loading}}
      <div class='contents loading'>
        <div class='spinner'>{{i18n loading}}</div>
      </div>
    {{else}}
      <ol class="messages">
      {{#each shout in controller}}
        <li>
          <author>
            {{avatar shout imageSize="tiny"}}
            {{shout.username}}:
          </author>
          <shout>{{stripHTML shout.cooked}}</shout>
        </li>
      {{/each}}
      </ol>
    {{/if}}
  </div>
</div>